.branding {
        float: left;
        width: 80%;
}
.topnav {
      display: inline;
      float: right;
      margin: 1em;
}
h2.main_title {
        text-align: center;
}

tbody {
        border: 0;
}

.field label {
	font-weight: bold;
	display: inline;
	margin-right: 0.5em;
}
.field input {
        display: inline;
}
