<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation" style="min-height:80px;">
<div class="container-fluid">

    <div class="navbar-header" style="height:3rem;">
        <a class="navbar-brand" href="/">
            <img src="images/logo-small.png" alt="The ODI"/>
        </a>
    </div>
    <h1 style="float: right;">
        ODI Eduroam Account Manager
    </h1>

</div>
</nav>